In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/Crimes_-_2001_to_Present_20250501.csv")

## Basic Info

In [8]:
print("=== shape ===")
print(df.shape)

print("\n=== columns ===")
print(df.columns.tolist())

print("\n=== info ===")
df.info()

print("\n=== head ===")
print(df.head())

=== shape ===
(8304227, 22)

=== columns ===
['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location']

=== info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8304227 entries, 0 to 8304226
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.3+ GB

=== head ===
         ID Case Number                    Date                    Block  \
0  13311263    JG503434  07/29/2022 03:39:00 AM          023XX S TROY ST
1  13053066    JG103252  01/03/2023 04:44:00 PM  039XX W WASHINGTON BLVD
2  11227634    JB147599  08/26/2017 10:00:00 AM      001XX W RANDOLPH ST
3  13203321    JG415333  09/06/2023 05:00:00 PM         002XX N Wells st
4  13204489    JG416325  09/06/2023 11:00:00 AM           0000X E 8TH ST

   IUCR                Primary Type                    Description  \
0  1582  OFFENSE INVOLVING CHILDREN              CHILD PORNOGRAPHY
1  2017                   NARCOTICS  MANUFACTURE / DELIVER - CRACK
2  0281         CRIM SEXUAL ASSAULT                 NON-AGGRAVATED
3  1320             CRIMINAL DAMAGE                     TO VEHICLE
4  0810                       THEFT                      OVER $500

                     Location Description  Arrest  Domestic  ...  Ward  \
0                               RESIDENCE    True     False  ...  25.0
1                                SIDEWALK    True     False  ...  28.0
2                             HOTEL/MOTEL   False     False  ...  42.0
3  PARKING LOT / GARAGE (NON RESIDENTIAL)   False     False  ...  42.0
4  PARKING LOT / GARAGE (NON RESIDENTIAL)   False     False  ...   4.0

   Community Area  FBI Code  X Coordinate Y Coordinate  Year  \
0            30.0        17           NaN          NaN  2022
1            26.0        18           NaN          NaN  2023
2            32.0        02           NaN          NaN  2017
3            32.0        14     1174694.0    1901831.0  2023
4            32.0        06     1176857.0    1896680.0  2023

               Updated On   Latitude  Longitude                       Location
0  04/18/2024 03:40:59 PM        NaN        NaN                            NaN
1  01/20/2024 03:41:12 PM        NaN        NaN                            NaN
2  02/11/2018 03:57:41 PM        NaN        NaN                            NaN
3  11/04/2023 03:40:18 PM  41.886018 -87.633938  (41.886018055, -87.633937881)
4  11/04/2023 03:40:18 PM  41.871835 -87.626151   (41.871834768, -87.62615082)

[5 rows x 22 columns]

## Null

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Ward                    614824
Community Area          613451
Location                 92095
Longitude                92095
Latitude                 92095
Y Coordinate             92095
X Coordinate             92095
Location Description     14252
District                    47
Domestic                     0
Beat                         0
Case Number                  0
Arrest                       0
Description                  0
FBI Code                     0
Primary Type                 0
IUCR                         0
Year                         0
Updated On                   0
Block                        0
Date                         0
ID                           0
dtype: int64

### Primary Type

In [ ]:
df['Primary Type'].value_counts()

Primary Type
THEFT                                1760584
BATTERY                              1512976
CRIMINAL DAMAGE                       944601
NARCOTICS                             760440
ASSAULT                               553173
OTHER OFFENSE                         517316
BURGLARY                              440336
MOTOR VEHICLE THEFT                   422169
DECEPTIVE PRACTICE                    380202
ROBBERY                               311552
CRIMINAL TRESPASS                     224092
WEAPONS VIOLATION                     122067
PROSTITUTION                           70310
OFFENSE INVOLVING CHILDREN             59565
PUBLIC PEACE VIOLATION                 54225
SEX OFFENSE                            33500
CRIM SEXUAL ASSAULT                    27330
INTERFERENCE WITH PUBLIC OFFICER       19774
LIQUOR LAW VIOLATION                   15289
GAMBLING                               14653
ARSON                                  14233
HOMICIDE                               13740
CRIMINAL SEXUAL ASSAULT                10541
KIDNAPPING                              7453
STALKING                                5860
INTIMIDATION                            5031
CONCEALED CARRY LICENSE VIOLATION       1525
OBSCENITY                                925
PUBLIC INDECENCY                         214
NON-CRIMINAL                             189
OTHER NARCOTIC VIOLATION                 157
HUMAN TRAFFICKING                        133
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: count, dtype: int64

### Year

In [14]:
df['Year'].value_counts().sort_index()

Year
2001    485935
2002    486828
2003    475993
2004    469434
2005    453778
2006    448195
2007    437102
2008    427207
2009    392852
2010    370546
2011    352031
2012    336363
2013    307599
2014    275880
2015    264876
2016    269958
2017    269265
2018    269103
2019    261613
2020    212582
2021    209488
2022    239785
2023    262941
2024    258062
2025     66811
Name: count, dtype: int64